@import './common.scss';

header {
    @include common(6rem, #FC3D49);
    line-height: 6rem;

    h1 {
        position: relative;
        text-align: center;

        a {
            font-weight: normal;
            position: absolute;
            top: .2rem;
            left: 0;
            font-size: 4rem !important;
        }
    }
}

.phone,
.email,
.qrCode {
    display: none;
}

.inps {
    padding: 3rem 1.5rem;

    >input,
    div {
        height: 4rem;
        width: calc(100% - .5rem);
        margin-bottom: 1.5rem;
        display: block;
    }

    div {
        display: flex;

        input {
            flex: 1;
        }
    }

    input {
        border-radius: 1rem;
        border: 1px solid #888888;
    }

    button {
        margin-left: .5rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        background-color: #FC3D49;
    }
}

.show {
    display: block;
}

.qrCode {
    height: 21rem;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15rem;
        height: 15rem;
    }
}

button {
    margin: 0 1.5rem;
    display: block;
    width: calc(100% - 3rem);
    height: 4rem;
    border-radius: 1rem;
    background-color: #FC3D49;
}

.options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    span {
        margin: 0 1rem;
    }
}